In [ ]:
# Stratified Sampling

In [131]:
import sys
import os
from pathlib import Path
import importlib
sys.path.append('..')

import pandas as pd

import data.dataframe_preparation as preparation
from data.custom_widgets import ReportsLabeler
import data
importlib.reload(data.custom_widgets)
importlib.reload(data.dataframe_preparation)

############### CONFIG ###############
FIRM_METADATA = os.path.abspath("../input_files/Firm_Metadata.csv")
DATA_INPUT_PATH = os.path.abspath("../input_files/annual_reports/")
MASTER_DATA_PATH = os.path.abspath("../input_files/annual_reports/Firm_AnnualReport_DF.csv")
LABEL_OUTPUT_FN = 'Firm_AnnualReport_Labels_DF.pkl'

HOLD_OUT_YEAR = 2019
HOLD_OUT_COMPANY = 'gb_unilever_plc'

SEED = 99
OVERRIDE_FILE = True
######################################

# Create master output file if not exits
master_file = Path(MASTER_DATA_PATH)
if not master_file.is_file() or OVERRIDE_FILE:
    df = preparation.get_df(input_path=DATA_INPUT_PATH, report_type_mappings={"20F": "AR"}, selected_report_types={"AR"}, include_text=False, include_page_no=False, include_toc=False)
    df = df.set_index("id")
    # Add additional labelling columns
    df['should_label'] = False
    df['is_labelled'] = False
    
    # Load the meta data
    df_meta = pd.read_csv(FIRM_METADATA)
    df_meta = df_meta.set_index('id')
    df['company_id'] = df['country'] + "_" + df['company']
    df = df.drop(columns=['country'])
    df = df.merge(df_meta, left_on='company_id', right_index=True)
    
    # TODO: Raise/Alert or remove if all outputs are there!
    df = df[df['output_file'].notna()]
    
    # Select all reports from year and company
    df_to_label = df[(df.year == HOLD_OUT_YEAR) | (df.company_id == HOLD_OUT_COMPANY)].copy()
    df_to_label['should_label'] = True
    nr_held_out_reports = len(df_to_label)
    df.update(df_to_label)
    
    # Remaining reports: Take sample with stratification along variables. n = amount of reports in each year AND industry...
    df_to_label = df[df.should_label == False]
    # Note: Do not use apply here, as otherwise the random state is equal for each group, possibly leading to non-random sampling!
    df_to_label = df_to_label.groupby(['year', 'icb_industry']).sample(n=1, random_state=SEED)
    # df_to_label = df_to_label.reset_index(2).reset_index(drop=True).set_index("id")
    
    df_to_label['should_label'] = True
    df.update(df_to_label)
    df.to_csv(MASTER_DATA_PATH)
    
df_to_label.groupby(['company']).count()

HBox(children=(FloatProgress(value=0.0, max=49.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=20.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=20.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=21.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=13.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=16.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=15.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=21.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=21.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=16.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=18.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=15.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=13.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=20.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=19.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=9.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=16.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=20.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=16.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=11.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=21.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=16.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=12.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=17.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=21.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=13.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=11.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=13.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=21.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=21.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=19.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=16.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=12.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=15.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=13.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=21.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=12.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=12.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=17.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=10.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=19.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=21.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=20.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=18.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=11.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=15.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=20.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=9.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=16.0), HTML(value='')))

In [132]:
df_to_label.groupby(['company']).count()

,orig_report_type,report_type,year,input_file,output_file,should_label,is_labelled,company_id,firm_name,ticker,country,icb_industry,icb_supersector
company,,,,,,,,,,,,,
abb,1,1,1,1,1,1,1,1,1,0,1,1,1
air_liquide,3,3,3,3,3,3,3,3,3,0,3,3,3
airbus,7,7,7,7,7,7,7,7,7,0,7,7,7
anheuser_busch_inbev,4,4,4,4,4,4,4,4,4,0,4,4,4
asml_hldg,6,6,6,6,6,6,6,6,6,0,6,6,6
astrazeneca,2,2,2,2,2,2,2,2,2,0,2,2,2
axa,3,3,3,3,3,3,3,3,3,0,3,3,3
barclays,3,3,3,3,3,3,3,3,3,0,3,3,3
basf,9,9,9,9,9,9,9,9,9,0,9,9,9
bayer,4,4,4,4,4,4,4,4,4,0,4,4,4
bco_bilbao_vizcaya_argentaria,4,4,4,4,4,4,4,4,4,0,4,4,4
bnp_paribas,2,2,2,2,2,2,2,2,2,0,2,2,2
bp,3,3,3,3,3,3,3,3,3,0,3,3,3
british_american_tobacco,2,2,2,2,2,2,2,2,2,0,2,2,2
daimler,11,11,11,11,11,11,11,11,11,0,11,11,11
deutsche_telekom,7,7,7,7,7,7,7,7,7,0,7,7,7
diageo,2,2,2,2,2,2,2,2,2,0,2,2,2
eni,2,2,2,2,2,2,2,2,2,0,2,2,2
glaxosmithkline,4,4,4,4,4,4,4,4,4,0,4,4,4
glencore_plc,2,2,2,2,2,2,2,2,2,0,2,2,2
hsbc,2,2,2,2,2,2,2,2,2,0,2,2,2
imperial_brands,5,5,5,5,5,5,5,5,5,0,5,5,5
lloyds_banking_grp,1,1,1,1,1,1,1,1,1,0,1,1,1
loreal,4,4,4,4,4,4,4,4,4,0,4,4,4
lvmh_moet_hennessy,5,5,5,5,5,5,5,5,5,0,5,5,5
national_grid,15,15,15,15,15,15,15,15,15,0,15,15,15
nestle,4,4,4,4,4,4,4,4,4,0,4,4,4
novartis,4,4,4,4,4,4,4,4,4,0,4,4,4
novo_nordisk_b,3,3,3,3,3,3,3,3,3,0,3,3,3
prudential,2,2,2,2,2,2,2,2,2,0,2,2,2
reckitt_benckiser_grp,1,1,1,1,1,1,1,1,1,0,1,1,1
rio_tinto,2,2,2,2,2,2,2,2,2,0,2,2,2
roche,2,2,2,2,2,2,2,2,2,0,2,2,2
royal_dutch_shell_a,4,4,4,4,4,4,4,4,4,0,4,4,4
sanofi,1,1,1,1,1,1,1,1,1,0,1,1,1
sap,14,14,14,14,14,14,14,14,14,0,14,14,14
schneider_electric,4,4,4,4,4,4,4,4,4,0,4,4,4
siemens,1,1,1,1,1,1,1,1,1,0,1,1,1
telefonica,10,10,10,10,10,10,10,10,10,0,10,10,10
total,7,7,7,7,7,7,7,7,7,0,7,7,7
ubs_group,2,2,2,2,2,2,2,2,2,0,2,2,2
vinci,7,7,7,7,7,7,7,7,7,0,7,7,7
vodafone_grp,3,3,3,3,3,3,3,3,3,0,3,3,3
zurich_insurance_group,1,1,1,1,1,1,1,1,1,0,1,1,1

In [133]:
df_to_label.groupby(['icb_industry']).count()

,company,orig_report_type,report_type,year,input_file,output_file,should_label,is_labelled,company_id,firm_name,ticker,country,icb_supersector
icb_industry,,,,,,,,,,,,,
10 Technology,20,20,20,20,20,20,20,20,20,20,0,20,20
15 Telecommunications,20,20,20,20,20,20,20,20,20,20,0,20,20
20 Health Care,20,20,20,20,20,20,20,20,20,20,0,20,20
30 Financials,20,20,20,20,20,20,20,20,20,20,0,20,20
40 Consumer Discretionary,20,20,20,20,20,20,20,20,20,20,0,20,20
45 Consumer Staples,18,18,18,18,18,18,18,18,18,18,0,18,18
50 Industrials,20,20,20,20,20,20,20,20,20,20,0,20,20
55 Basic Materials,16,16,16,16,16,16,16,16,16,16,0,16,16
60 Energy,16,16,16,16,16,16,16,16,16,16,0,16,16
65 Utilities,15,15,15,15,15,15,15,15,15,15,0,15,15

In [134]:
df_to_label.groupby(['year']).count()

,company,orig_report_type,report_type,input_file,output_file,should_label,is_labelled,company_id,firm_name,ticker,country,icb_industry,icb_supersector
year,,,,,,,,,,,,,
1999.0,6,6,6,6,6,6,6,6,6,0,6,6,6
2000.0,6,6,6,6,6,6,6,6,6,0,6,6,6
2001.0,7,7,7,7,7,7,7,7,7,0,7,7,7
2002.0,7,7,7,7,7,7,7,7,7,0,7,7,7
2003.0,9,9,9,9,9,9,9,9,9,0,9,9,9
2004.0,10,10,10,10,10,10,10,10,10,0,10,10,10
2005.0,10,10,10,10,10,10,10,10,10,0,10,10,10
2006.0,10,10,10,10,10,10,10,10,10,0,10,10,10
2007.0,10,10,10,10,10,10,10,10,10,0,10,10,10
2008.0,10,10,10,10,10,10,10,10,10,0,10,10,10
2009.0,10,10,10,10,10,10,10,10,10,0,10,10,10
2010.0,10,10,10,10,10,10,10,10,10,0,10,10,10
2011.0,10,10,10,10,10,10,10,10,10,0,10,10,10
2012.0,10,10,10,10,10,10,10,10,10,0,10,10,10
2013.0,10,10,10,10,10,10,10,10,10,0,10,10,10
2014.0,10,10,10,10,10,10,10,10,10,0,10,10,10
2015.0,10,10,10,10,10,10,10,10,10,0,10,10,10
2016.0,10,10,10,10,10,10,10,10,10,0,10,10,10
2017.0,10,10,10,10,10,10,10,10,10,0,10,10,10
2018.0,10,10,10,10,10,10,10,10,10,0,10,10,10